@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  width: 100%;
  height: 100vh;
}

model-viewer {
  cursor: grab;
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
}
